*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;

}
/* ------------------------- header layout --------------------------------- */
header > .line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding: 8px 20px;
}

.part-search-box{
  border: 1px solid #cecece;
  border-radius: 4px;
}


.part-search-box i{
  color: #afafaf;
  padding: 0 10px;
}

.part-search_input{
  width: 400px;
  height: 35px;
  box-sizing: border-box;
  border: none;
}

.part-search_input:focus{
  outline: none;
}

.part-settings{
  font-size: 24px;
  color: #666666;
}

.part-settings .fas{
  cursor: pointer;
  padding: 0px 10px;
}

.part-settings .fas:hover{
  color: #3a3a3a;
}

header > .line-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 43px;
  border-bottom: 3px solid #0051a8;
  padding: 0 10px;
}

.line-2 .part-plagins{
  color: #7a7a7a;
  font-size: 24px;
  padding: 0 20px;

}

.line-2 .part-plagins:hover{
  cursor: pointer;
  color: #d69200;
}

.part-title{
  padding: 0 20px;
}

.part-nav_list{
  display: flex;
  list-style: none;
}

.part-nav_list li{
  font-size: 12px;
  padding: 11px 15px;

}

.part-nav_list li:hover{
  cursor: pointer;
  background-color: #edf3ff;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.part-nav_list li a{
  text-decoration: none;
  color: black;
}

.part-nav_list .chosen {
  background-color: #edf3ff;
  border-top: 3px solid #0051a8;
}

.part-nav_list li i{
  padding-left: 5px;

}

/* ---------------------------------------------------------- ~header layout */

/* ------------------------- content layout --------------------------------- */

.canvas{
  background-color: #8caadb;
  padding: 10px;
}

.m-container {
  background-color: rgb(251, 250, 249);
  border: 1px solid transparent;
  border-radius: 4px;
}

.m-container-manage {

}

.manage-header{
  padding: 20px 20px ;
  background-color: rgb(244, 243, 242);
}

.header-line-1{
  display: flex;
  justify-content: space-between;
}

.caption-title {
  margin-left: 10px;
}

.caption-title_name{
  font-size: 12px;
}

.caption-title_list-view {
  cursor: pointer;
  font-weight: bold;
}

.caption-title_list-view:hover {

  text-decoration: underline;
}

 .line-1_left .caption{
   display: flex;
   justify-content: flex-start;
 }

.button{
  width: 75px;
  height: 35px;
  border: 1px solid #cecece;
  border-radius: 3px;
  background-color: rgb(251, 250, 249);
  color: rgb(27, 82, 151);
  font-size: 14px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(244, 243, 242);
}

.button_color_blue{
  color: #fff;
  background-color: #2557a8;
}

.button_color_blue:hover{
  background-color: #1f4889;
}


.header-line-2{
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}


.header-line-2 .table-info{
  font-size: 12px;
}


.manage-table{
  height: 500px;
}
/*  table bem */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  font-size: 12px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}

.table__row:hover {
  background-color: rgb(244, 243, 242);
}

.table__row_head{
  letter-spacing: 0.1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(251, 250, 249);
}


.table__cell{
  padding: 5px;
}

.table__cell:hover{
  background-color: #dedede;
}


/*  table bem */




/* ---------------------------------------------------------- content layout  */


/*----------------------------- new form -----------------------------------  */

#modal_window{
  display: none;
}

.panel{
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

.form-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}



.modal-form{

  opacity: 0;
  position: relative;
  max-width: 840px;
  min-width: 480px;
  width: 70%;
  margin: 100px auto;
  height: 500px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;

}

.modal-form_shown{
  opacity: 1;
}

.modal-form__header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 3px solid rgb(225, 225, 225);
}

.modal-form__header-title{

}

.modal-form__content{
  padding: 20px;
}

.modal-form__footer{
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;

  box-sizing: border-box;

  padding-left: 10px;
  padding-right: 10px;

  background-color: rgb(244, 243, 242);
  border-top: 3px solid rgb(225, 225, 225);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}



/*---------------------------------------------------------------- new form   */
